USE [Chevaux]
GO
/****** Object:  StoredProcedure [dbo].[SP_CalculerGainsCourse]    Script Date: 16/06/2026 09:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_CalculerGainsCourse]
    @CourseId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.id_Course,
        c.Nom AS Nom_Course,
        ch.Nom AS Nom_Cheval,
        p.positionArriver,
        c.dotationEuro,
        CASE p.positionArriver
            WHEN 1 THEN c.dotationEuro * 0.50
            WHEN 2 THEN c.dotationEuro * 0.25
            WHEN 3 THEN c.dotationEuro * 0.15
            ELSE 0
        END AS Gains_En_Euros
    FROM Participations p
    JOIN Courses c ON p.id_Course = c.id
    JOIN Chevaux ch ON p.id_Cheval = ch.id
    WHERE p.id_Course = @CourseId
    ORDER BY p.positionArriver ASC;
END;