USE [Chevaux]
GO
/****** Object:  Trigger [dbo].[TR_Participations_VerifPosition]    Script Date: 16/06/2026 09:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TR_Participations_VerifPosition]
ON [dbo].[Participations]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM inserted i
        WHERE i.positionArriver > (
            SELECT COUNT(*) 
            FROM Participations 
            WHERE id_Course = i.id_Course
        )
    )
    BEGIN
        RAISERROR ('Erreur : La position d''arrivée ne peut pas être supérieure au nombre total de chevaux inscrits à la course !', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;