USE [Chevaux]
GO
/****** Object:  Trigger [dbo].[TR_Participations_AntiDoubleCourse]    Script Date: 16/06/2026 09:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TR_Participations_AntiDoubleCourse]
ON [dbo].[Participations]
AFTER INSERT, UPDATE
AS
BEGIN

    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN Courses c1 ON i.id_Course = c1.id
        JOIN Participations p ON i.id_Cheval = p.id_Cheval AND i.id_Course <> p.id_Course
        JOIN Courses c2 ON p.id_Course = c2.id

        WHERE CAST(c1.dateCourse AS DATE) = CAST(c2.dateCourse AS DATE)
    )
    BEGIN

        RAISERROR ('Erreur : Un cheval ne peut pas participer à deux courses le même jour !', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;

